<form (ngSubmit)="onSubmit()">
  <div class="input-group">
    <p>
      <label for="initial-investment">Initial Investment</label>
      <input
        name="initial-investment"
        id="initial-investment"
        type="number"
        [(ngModel)]="userInput().initialInvestment"
      />
    </p>
    <p>
      <label for="annual-investment">Annual Investment</label>
      <input
        name="annual-investment"
        id="annual-investment"
        type="number"
        [(ngModel)]="userInput().annualInvestment"
      />
    </p>
  </div>
  <div class="input-group">
    <p>
      <label for="expected-return">Expected Return</label>
      <input
        name="expected-return"
        id="expected-return"
        type="number"
        [(ngModel)]="userInput().expectedReturn"
      />
    </p>
    <p>
      <label for="duration">Duration</label>
      <input
        name="duration"
        id="duration"
        type="number"
        [(ngModel)]="userInput().duration"
      />
    </p>
  </div>
  <p>
    <button type="submit">Calculate</button>
  </p>
</form>
